<div class="flex items-center justify-center bg-cover bg-center h-screen bg-[#2F1893]">
  <div class="bg-white p-8 rounded-lg shadow-lg w-1/3">
        <h2 class="text-3xl font-bold mb-6 text-center text-gray-800">Sign Up Now</h2>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <div class="mb-4">
              <%= render "devise/shared/error_messages", resource: resource %>
            </div>
            <div class="mb-4">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"w-full px-4 py-2 border border-[#EBEAED] rounded-3xl focus:outline-none focus:ring-2 focus:ring-blue-500", placeholder: "Input Email" %>
            </div>
            <div class="mb-4">
                <%= f.password_field :password, autocomplete: "new-password", class:"w-full px-4 py-2 border border-[#EBEAED] rounded-3xl focus:outline-none focus:ring-2 focus:ring-blue-500", placeholder: "Input Password" %>
            </div>
            <div class="mb-8">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"w-full px-4 py-2 border border-[#EBEAED] rounded-3xl focus:outline-none focus:ring-2 focus:ring-blue-500", placeholder: "Input Confirmation Password" %>
            </div>
            <div class="mb-8 flex items-center">
                <input type="checkbox" id="terms" class="mr-2 accent-pink-500">
                <label for="terms" class="text-sm text-gray-600">I agree to the <a href="#" class="text-blue-500">Terms of Service</a>.</label>
            </div>
            <%= f.submit "Create an Account", class:"w-full bg-[#25DAC5] text-white py-2 rounded-3xl hover:bg-teal-600 transition-colors" %>
        <% end %>
        <div class="divide-y divide-blue-200 mt-12">
          <div></div>
          <div></div>
        </div>
        <p class="mt-12 text-sm text-center text-gray-600">Do you have an Account? <%= link_to 'Sign In', new_user_session_path, class:"text-blue-500" %></p>
        <p class="mt-2 text-sm text-center text-gray-600"><%= render "devise/shared/links" %></p>
    </div>
</div>
