<div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
  <div class="max-w-lg">
    <%= form_with model: @link do |form| %>
        <div class="mb-5">
          <%= form.label :title, class:"block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
          <%= form.text_field :title, class:"shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" %>
      </div>
        <div class="mb-5">
        <%= form.label :url, class:"block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
        <%= form.text_field :url, class:"shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" %>
      </div>
        <div class="mb-5">
        <%= form.label :thumbnail, class:"block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
        <%= form.file_field :thumbnail, class:"block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"%>
      </div>
        <div class="mb-5">
          <label class="inline-flex items-center mb-5 cursor-pointer">
            <%= form.check_box :status, checked: "checked", class:"sr-only peer"%>
            <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:w-5 after:h-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
            <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Status</span>
          </label>
        </div>
        <div class="mb-5">
      <%= form.submit class:"focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900" %>
        </div>
    <% end %>
  </div>

  <div class="w-full p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
    <% @links.each_with_index do |link, index| %>
      <div class="block p-6 bg-white mb-5 border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <%= image_tag url_for(link.thumbnail.variant(resize_to_fit: [100, 100])), class:"rounded-xl" %>
          </div>
          <div class="flex-1 min-w-0 ms-4">
            <p class="text-sm font-medium text-gray-900 truncate dark:text-white" data-turbo-prefetch="false">
              <%= link.title %>
            </p>
            <p class="text-sm font-medium text-gray-900 truncate dark:text-white" data-turbo-prefetch="false">
              <%= link_to request.base_url + '/' + link.short_url, link.short_url, target: "_blank", class:"text-blue-700 hover:border-b-2 font-medium text-xl text-center" %>
            </p>
            <p class="text-md text-gray-500 truncate dark:text-gray-400">
              <%= link.url %>
            </p>
            <p class="text-md text-gray-500 truncate dark:text-gray-400">
              Click: <%= link.click %>
            </p>
          </div>
          <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
            <button id="dropdownMenuIconHorizontalButton<%= index %>" data-dropdown-toggle="dropdownDotsHorizontal<%= index %>" class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-900 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none dark:text-white focus:ring-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-600" type="button">
              <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 3">
                <path d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"/>
              </svg>
            </button>

            <!-- Dropdown menu -->
            <div id="dropdownDotsHorizontal<%= index %>" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
              <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownMenuIconHorizontalButton<%= index %>">
                <li>
                  <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Edit</a>
                </li>
                <li>
                  <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Delete</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>